mixin picture(data={})
  picture
    each source in data.list
      source(type="image/svg", media=source.media, srcset=source.srcset)
    //- 1x: data.width; 2x: 2*data.width
    img(src=data.src, srcset=data.srcset, alt=data.alt, width=data.width, height=data.height)
