mixin product(data = {})
  article.product
    .product__wrapper
      h3.product__title=data.title
        span=data.weight + 'г'
      dl.product__info
        each item in data.list
          .product__info-item
            dt=item.infoName
            dd=item.infoVal
      .product__pic(class=(data.weight == 1000 ? 'product__pic--1000': ''))
        img(src=data.src, alt=data.title, width=data.picWidth, height=data.picHeight)
      button.product__button(type="button") Заказать
